

<md-dialog >
    
        <md-toolbar>
            <div class="md-toolbar-tools">
            
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content"> 
                
                    <h1 class="text-center">DATOS PERSONALES</h1>
                    <hr>
                    <form  name="mainForm" ng-submit="actualizar_datos_persona()" data-ng-controller="data1"  ng-init="listar_datos_personas()">
                        <div class="row">
                        
                                <div class="col-md-12">
                                 
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="exampleInputEmail1">Nombre:</label>
                                                    <input class="form-control input-lg" id="nombre_persona" name="nombre_persona" ng-model="update_p.nombre_persona" placeholder="EJ:Juan"
                                                           type="text" required>

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="exampleInputPassword1">Apellido Paterno:</label>
                                                    <input class="form-control input-lg" id="apellido_paterno_persona" name="apellido_paterno_persona" ng-model="update_p.apellido_paterno_persona"
                                                           placeholder="EJ: Gutierrez" type="text" required>
                                                </div>


                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="exampleInputPassword1">Apellido Materno:</label>
                                                    <input class="form-control input-lg" id="apellido_materno_persona" name="apellido_materno_persona"
                                                           placeholder="EJ: Ascencio" type="text" ng-model="update_p.apellido_materno_persona" required>
                                                </div>

                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="exampleInputPassword1"> Identificacion:</label>
                                                    <input class="form-control input-lg" id="identificacion_persona" name="identificacion_persona"
                                                           placeholder="EJ: 18356397-1" type="text" ng-model="update_p.identificacion_persona" required>
                                                </div>

                                            </div>
                                            <div class="col-md-6">

                                                <div ng-if="carga_i_p">
                                                    <div layout="row" layout-sm="column" layout-align="space-around">
                                                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                                    </div>
                                                </div>
                                                <div ng-if="!error_ip">
                                                    error viejo no cargo ...

                                                </div>
                                                <div ng-show="dif">
                                                    <div class="form-group" ng-init="identificacion_persona()">
                                                        <label class="control-label" for="exampleInputPassword1">Tipo de Identificacion</label>
                                                        <select ng-model="update_p.id_tipo_identificacion_persona" class="form-control input-lg" ng-options="t_c.id_tipo_identificacion_persona as t_c.nombre_tipo_identificacion_persona for t_c in tipo_identificacion " required>
                                                            <option value="">---Seleccione---</option>
                                                            <option value=""></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" ng-controller="PopupCtrl">

                                            <div class="col-md-4">

                                                <div class="form-group">
                                                    <label class="control-label" for="exampleInputPassword1">Region</label>
                                             
                                                    <select name="selectPais" id="selectPais" ng-model="update_p.id_region"  ng-options="region.id_region as region.nombre_region for region in regiones" class = "form-control input-lg"  ng-change="updateDropDownDepartamentos(update_p.id_region)"  required>
                                                        <option value="">Seleccione Region</option>
                                                    </select>
                                               
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="exampleInputPassword1">Ciudad</label>
                                           
                                                    <select name="selectDepartamento" id="selectDepartamento"  ng-model="update_p.id_ciudad"   ng-options="ciudad.id_ciudad as ciudad.nombre_ciudad for ciudad in ciudades " class = "form-control input-lg" ng-change="updateDropDownProvincias(update_p.id_ciudad)" required>
                                                        <option value="">Seleccione Ciudad</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="exampleInputPassword1">Comuna</label>
                                               
                                                    <select name="update_id_comuna" id="update_id_comuna" ng-model="update_p.id_comuna"  ng-options="comuna.id_comuna as comuna.nombre_comuna for comuna in comunas"  class = "form-control input-lg" required>
                                                        <option value="">Seleccione Comuna</option>
                                                    </select>
                                               
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label" for="exampleInputPassword1">Direccion:</label>
                                                    <input class="form-control input-lg" id="direccion_curriculum" name="direccion_curriculum"
                                                           placeholder="EJ: Bahia mansa 0798" type="text" ng-model="update_p.direccion_curriculum" required>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">

                                                <div class="form-group">
                                                    <label class="control-label" for="exampleInputPassword1"> Fecha de Nacimiento:</label>

                                                    <input type="datetime" class="form-control input-lg" id="exampleInput" name="input" ng-model="update_p.fecha_nacimiento_persona"
                                                           placeholder="yyyy-MM-dd" min="1950-01-01" max="{{currentdate}}" required/>

                                                </div>


                                            </div>
                                            <div class="col-md-6">
                                                <div ng-if="carga_r_ge">
                                                    <div layout="row" layout-sm="column" layout-align="space-around">
                                                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                                    </div>
                                                </div>
                                                <div ng-if="!error_r_ge">
                                                    error viejo no cargo ...

                                                </div>
                                                <div ng-show="dif_r_ge">
                                                    <div class="form-group" ng-init="rellenar_genero()">

                                                        <label class="control-label" for="exampleInputPassword1">Genero:</label>
                                                        <select ng-model="update_p.id_tipo_persona" class="form-control input-lg" ng-options="r_gen.id_tipo_persona as r_gen.nombre_tipo_persona for r_gen in rellenar_ge" required>
                                                            <option value="">---Seleccione---</option>
                                                            <option value=""></option>
                                                        </select>



                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">

                                                <div class="form-group ">
                                                    <label class="control-label" for="exampleInputPassword1">Sueldo esperado:</label>
                                                    <div class="input-group form-inline">
                                                        <div class="input-group-addon">$</div>
                                                        <input class="form-control input-lg" id="sueldo_esperado" name="sueldo_esperado"
                                                               placeholder="EJ: 800000" type="text" ng-model="update_p.sueldo_esperado" required>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6">


                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label" for="exampleInputPassword1">Correo Electronico:</label>
                                                    <input class="form-control input-lg" id="correo_electronico_persona" name="correo_electronico_persona"
                                                           placeholder="EJ: maipu@maipu.cl" type="email" ng-model="update_p.correo_electronico_persona" required>
                                                </div>


                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="exampleInputPassword1"> Telefono de Contacto:</label>
                                                    <input class="form-control input-lg" id="telefono_curriculum_1" name="telefono_curriculum_1"
                                                           placeholder="EJ: 02-5555555" type="text" ng-model="update_p.telefono_curriculum_1" required>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="exampleInputPassword1">Telefono de Contacto(Celular):</label>
                                                    <input class="form-control input-lg" id="telefono_curriculum_2" name="telefono_curriculum_2"
                                                           placeholder="EJ: +569-77777777" type="text" ng-model="update_p.telefono_curriculum_2" required>
                                                </div>

                                            </div>
                                        </div>

                                </div>


                         
                        </div>
                        <div class="row">
                           
                                <div class="form-group ">

                                    <button type="submit" class="btn btn-block  btn-lg btn-info">
                                        <i class="fa fa-fw fa-spin fa-star"></i>Actualizar
                                    </button>


                                </div>
                                <div class="form-group ">
                                

                                        <a href="" class="btn  btn-block btn-danger btn-lg" ng-click="closeDialog()">Cancelar</a>
                                   
                                </div>
                            </div>
                       
                    </form>
           </div>
        </md-dialog-content>

      
    
</md-dialog>