<div class="panel panel-primary">
    <div class="panel-heading clearfix">

        <div class="pull-right">
              <div ng-controller="data1">

                <a href=""  ng-click="abremodal('../Curriculum_mant/editar_vista_datos_persona_curriculum' ,'')" class="btn btn-default "><i class="fa fa-fw fa-lg fa-plus-circle text-warning"></i>Editar</a>
            </div>
        </div>
        <div class="pull-left">
            <h3>Mis Datos</h3>
        </div>
    </div>
    <div class="panel-body" style="word-break: break-word">
      
        <div ng-if="load_datos">
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
        <div ng-if="!load_datos &&  error_datos && datos_per === undefined">
            No se Encontraron resultados ...

        </div>
        <div ng-if="!error_datos">
            error viejo no cargo ...

        </div>

        <div ng-if="datos_per">
            <div class="col-md-12">
                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                            Nombre Completo:
                            <ul class="list-group">
                                <li class="list-group-item"> {{datos_per.nombre_persona}} {{datos_per.apellido_paterno_persona}} {{datos_per.apellido_materno_persona}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Identificacion:
                            <ul class="list-group">
                                <li class="list-group-item">{{datos_per.identificacion_persona}}  <a ng-if="datos_per.digito_verificador_identificacion_persona != null">-</a> {{datos_per.digito_verificador_identificacion_persona}} </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            Tipo identificacion:
                            <ul class="list-group">
                                <li class="list-group-item">{{datos_per.nombre_tipo_identificacion_persona}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Region:
                            <ul class="list-group">
                                <li class="list-group-item">{{datos_per.nombre_region}}</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            Ciudad:
                            <ul class="list-group">
                                <li class="list-group-item">{{datos_per.nombre_ciudad}}</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            Comuna:
                            <ul class="list-group">
                                <li class="list-group-item">{{datos_per.nombre_comuna}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Direccion:
                            <ul class="list-group">
                                <li class="list-group-item">{{datos_per.direccion_curriculum}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Fecha de Nacimiento:
                            <ul class="list-group">
                                <li class="list-group-item">{{datos_per.fecha_nacimiento_persona.replace('/Date(','').replace(')/','') | date:'dd-MM-yyyy'}}</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            Sexo:
                            <ul class="list-group">
                                <li class="list-group-item">{{datos_per.nombre_tipo_persona}}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            Correo Electronico:
                            <ul class="list-group">
                                <li class="list-group-item">{{datos_per.correo_electronico_persona}}</li>
                            </ul>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Sueldo esperado:
                            <ul class="list-group">
                                <li class="list-group-item">${{datos_per.sueldo_esperado}}</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            Numero Contacto:
                            <ul class="list-group">
                                <li class="list-group-item">{{datos_per.telefono_curriculum_1}}</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            Otro Contacto(Opcional):
                            <ul class="list-group">
                                <li class="list-group-item">{{datos_per.telefono_curriculum_2}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>