<md-dialog>

    <md-toolbar>
        <div class="md-toolbar-tools">

        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="lg-dialog-content">

                    <form name="mainForm" data-ng-submit="agregar_software()" data-ng-controller="data1" ng-model="agrega_software">
                        <div class="text-center well">
                            <h1 class="text-center">Agregar uso de Softwares</h1>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <h3>Seleccione un software</h3>
                                </li>
                                <li class="list-group-item">
                                    <div ng-if="carga_r_s">
                                        <div layout="row" layout-sm="column" layout-align="space-around">
                                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                        </div>
                                    </div>
                                    <div ng-if="!error_r_s">
                                        error viejo no cargo ...

                                    </div>
                                    <div ng-show="dif_r_s">
                                        <div class="form-group" ng-init="rellenar_softwares()">

                                            <select ng-model="agrega_software.id_software" class="form-control input-lg" ng-options="r_soft.id_software as r_soft.nombre_software for r_soft in rellenar_soft" required>
                                                <option value="">---Seleccione---</option>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        </div>
</li>
                                <li class="list-group-item">
                                    <h3>Seleccione un nivel de uso</h3>
                                </li>
                                <li class="list-group-item">
                                    <div ng-if="carga_r_gs">
                                        <div layout="row" layout-sm="column" layout-align="space-around">
                                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                        </div>
                                    </div>
                                    <div ng-if="!error_r_gs">
                                        error viejo no cargo ...

                                    </div>
                                    <div ng-show="dif_r_gs">
                                        <div class="form-group" ng-init="rellenar_grado_softwares()">

                                            <select ng-model="agrega_software.id_grado_conocimiento_software" class="form-control input-lg" ng-options="r_g_soft.id_grado_conocimiento_software as r_g_soft.nombre_grado_conocimiento_software for r_g_soft in rellenar_g_soft" required>
                                                <option value="">---Seleccione---</option>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        </div>
</li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group ">
                                                <button type="submit" class="btn btn-block btn-info btn-lg">Agregar</button>

                                            </div>
                                            <div class="form-group ">
                                                <div ng-controller="data1">

                                                    <a href="" class="btn  btn-block btn-danger btn-lg" ng-click="closeDialog()">Cancelar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
      
    </md-dialog-content>
</md-dialog>