
<md-dialog>

    <md-toolbar>
        <div class="md-toolbar-tools">

        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="lg-dialog-content">
    
                    <div class="text-center well">
                        <form name="mainForm" data-ng-submit="eliminar_idioma()" data-ng-controller="data1" ng-model="elimina_idioma" novalidate>
                            <h1 class="text-center">Eliminar idioma</h1>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <h3>Desea eliminar este idioma:</h3>
                                </li>
                             

                                        @Html.Hidden("id_idioma_curriculum", (Int32)ViewBag.id_idioma, new { @ng_model = "elimina_idioma.id", ng_init = "elimina_idioma.id = " + (Int32)ViewBag.id_idioma })
                                  
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-block btn-danger btn-lg">Eliminar</button>


                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="form-group ">
                                                <div ng-controller="data1">

                                                    <a href="" class="btn  btn-block btn-info btn-lg" ng-click="closeDialog()">Cancelar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
      
    </md-dialog-content>
</md-dialog>
