<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web.webPages.razor>
    <pages>
      <namespaces>
        <add namespace="Postal" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="network" from="portalempleos@maipu.cl" deliveryFormat="SevenBit">
        <network host="smtp.office365.com" port="587"  enableSsl="true" userName="portalempleos@maipu.cl" password="M1ip5016"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>