
<md-dialog>

    <md-toolbar>
        <div class="md-toolbar-tools">

        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="lg-dialog-content">
         
                    <div class="well">
                        <h2 class="text-center">enlace documento  descarga </h2>
                        <p></p>
                        <ul class="list-group text-center">

                            <li class="list-group-item ">
                                <h2> @ViewBag.nombre_documento</h2>
                            </li>

                        </ul>
                        
                        <div class="row">
                            <div class="col-md-12">



                                <div class="form-group ">
                               

                                        <a target="_blank" href="@ViewBag.enlace_documento" class="btn btn-block btn-lg btn-info">ir a enlace de descarga</a>
                                
                                </div>
                            </div>
                            <div class="col-md-12">



                                <div class="form-group ">
                                    <div ng-controller="data1">

                                        <a href="" class="btn  btn-block btn-danger btn-lg" ng-click="closeDialog()">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
       
    </md-dialog-content>
</md-dialog>
