<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
            <h2 class="text-center">enlace documento  descarga </h2>
            <p></p>
            <ul class="list-group">

                <li class="list-group-item text-center">
                    <h2> @ViewBag.nombre_documento</h2>
                </li>

            </ul>   
         
            <a target="_blank" href="@ViewBag.enlace_documento"  class="btn btn-block btn-lg btn-info" >ir a enlace de descarga</a>
            <input type="button" value="Cancelar" class="btn btn-block btn-lg btn-danger" ng-click="cerrarmodal()" />
        </div>
    </div>
</div>
