
<md-dialog>

    <md-toolbar>
        <div class="md-toolbar-tools">

        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="lg-dialog-content">


                    <form name="mainForm" data-ng-submit="actualiza_descripcion()" data-ng-controller="data1" ng-model="actualizar_descripcion" novalidate>
                        <div class="well">
                            <h2 class="text-center">Descripcion y presentacion Curriculum</h2>
                            <hr>
                            <ul class="list-group">
                             
                                <li class="list-group-item">
                                    <div class="col-md-12">



                                        <div ng-if="ver_desc">
                                            <div layout="row" layout-sm="column" layout-align="space-around">
                                                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                            </div>
                                        </div>

                                    </div>




                                        <md-input-container class="md-block">
                                            <h3>Mi Presentacion (Maximo De Caracteres: 500)</h3>
                                            <hr />
                                            <textarea ng-model="actualizar_descripcion.descripcion_curriculum" ng_init="actualizar_descripcion.descripcion_curriculum = desc_curriculum" md-maxlength="500" maxlength="500" rows="5" md-select-on-focus></textarea>


                                        </md-input-container>
                                    


                                </li>
                                <li class="list-group-item">
                                    <button type="submit" class="btn btn-block btn-info btn-lg">Actualizar</button>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-group ">
                                        <div ng-controller="data1">

                                            <a href="" class="btn  btn-block btn-danger btn-lg" ng-click="closeDialog()">Cancelar</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
          
    </md-dialog-content>
</md-dialog>