
@{
    ViewBag.Title = "Recordar credenciales";
}

<md-dialog ng-controller="HomeCtrl">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1 flex class="text-center">Recupere sus Credenciales</h1>

        </div>
    </md-toolbar>

    <md-dialog-content layout="column" md-dynamic-height>


       


          
                        <div class="well">
                            <blockquote>
                                <p>su contraseña sera entregada via correo electronico.</p>
                                <p>En Caso de algun Inconveniente puede enviar un correo mediante:</p>
                                <footer>Opcion Soporte</footer>
                                <footer>ju.gutierreza@hotmail.com</footer>

                            </blockquote>

                        </div>
   
               
      
                                <div class="well">
                                    <form name="mainForm" data-ng-submit="recordar_cuenta_persona()" data-ng-controller="data1" data-ng-model="recordar_cuenta_personas">
                                        <div class="form-group">
                                            <label class="control-label" for="exampleInputEmail1">Correo Electronico</label>
                                            <input class="form-control" id="correo_electronico" name="correo_electronico" placeholder="Ej: Maipu@Maipu.cl" ng-model="recordar_cuenta_personas.correo_electronico_persona"
                                                   type="email" required>
                                        </div>



                                        <div class="form-group">
                                            <label class="control-label" for="exampleInputPassword1">Rut</label>
                                            <div class="row">
                                                <div class="col-sm-10">
                                                    <input class="form-control" id="rut_usuario" name="rut_usuario" placeholder="Ej: 18356397" ng-model="recordar_cuenta_personas.identificacion_persona"
                                                           type="text" required>
                                                </div>

                                                <div class="col-sm-2">
                                                    <input class="form-control" id="dig_rut_usuario" name="dig_rut_usuario" placeholder="Ej: k" ng-model="recordar_cuenta_personas.digito_identificacion_persona"
                                                           type="text" required>
                                                </div>

                                            </div>
                                        </div>


                                        <hr>
                                        <button type="submit" class="btn btn-block btn-lg btn-info">Solicitar Recuperar Contraseña</button>
                                    </form>

                                </div>

             
   

    </md-dialog-content>
</md-dialog>



