<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form name="mainForm" data-ng-submit="desactivar_cuenta()" data-ng-controller="data1"   novalidate>
           
            <div class="well">
                <h2 class="text-center">Desactivar cuenta @ViewBag.id_persona</h2>
                <p></p>
                <ul class="list-group">

                    <li class="list-group-item">
                        nos  vemos
                    </li>

                </ul>
                <input type="submit" value="Desactivar" class="btn btn-block btn-lg btn-info" />
                <a value="Cancelar" class="btn btn-block btn-lg btn-danger" />
            </div>
            </form>
</div>
</div>

